.icon-nav {
    position: relative;
    color: white;
}

i.icon-nav:hover {
    color: black;
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 12px;
    top: 10px;
    right: 450px;
}

section {
    min-height: 100vh;
}

/*footer*/
footer {
    position: static;
    background-color: #164863;
    bottom: 0;
    color: white;
}

/* .container {
    position: relative;
} */